<h3>Edit Item</h3>
<%= form_with model: @item do |form| %>
  <%= form.text_field :name, placeholder: "name" ,values: @item.name%>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.submit %>
<% end %>